*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}
h1 h2 h3 h4 h5 h6 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    display: flex;
    flex-wrap: wrap;
}

/** header - Logo Section --------------------------- **/
header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header h1 {
  display: flex;
  justify-content: flex-end;
  flex-direction:row;
  top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 10px;
  position: absolute;
  background: #33adff;
  color: #fff;
  height: 39px;
  width: 350px;
  font-size: 36px;
  font-weight: 600;
  border-radius: 0px 10px 10px 0px;
}
/*  Uncomment code on index to use */
header img {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  height: auto;
  margin: 10px;
}

/** Nav Bar ------------------------ **/
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    background-color: #ee438b;
    width: auto;
    height: 80px;
  }
  
  nav a {
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #78b3cc;
    text-underline-offset: 5px;
  }

/** Hero Section ------------------------ **/
.hero {
    display: flex;
    background-size: cover;
    width: 100%;
    height: auto;
}
.hero img {
    display: flex;
    justify-content:right;
    width: 100%;
    height: auto;
    position: relative;
}
.hero h3 {
    display: flex-end;
    position: absolute;
    top: 250px;
    right: 0px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: #70dbdb;
    color: #fff;
    height: 30px;
    width: 375px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.4);
}

/** About Section ---------------- **/
  .resume-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
  }
  .resume-section .about-me {
    display: flex-end;
    flex: 1;
    width: 10%;
    margin-right: 10px;
  } 
  .resume-section .about-me h2 {
    color: #33adff;
    font-weight: 400;
    font-size: 48px;
    text-align: right;
  }
  .resume-section .about-me-content {
    flex: 2;
    width: 90%;
    margin-right: 20px;
  }
  .resume-section .about-me-content p {
    color: #696969;
    border-left: 3px solid #33adff;
    height: auto;
    padding-left: 20px;
    font-weight: 200;
    line-height: 30px;
    text-align: justify;
  }
/** ---------------- Work Section ---------------- **/
.work-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
}
.work-section .work {
    flex: 1;
    width: 10%;
    margin-right: 20px;
  }
  .work-section .work h2 {
    color: #33adff;
    font-weight: 400;
    font-size: 48px;
    text-align: right;
  }
  .work-section .work-content {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    width: 90%;
    margin-right: 20px;
    border-left: 3px solid #33adff;
    padding-left: 20px;
  }

  .work-section .work-content .img-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* width: 50%;
    height: auto; */
  }
  .work-section .work-content .img-container img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
  }
  .work-section .work-content .img-container .img-titles {
    background-color: #ee438b;
    border-radius: 0px 10px 0px 10px;
    padding: 10px;
    width: 200px;
  }
  .work-section .work-content .img-container .img-titles h4 {
    font-size: 26px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    bottom: 0px;
    left: 0px;
  }
  .work-section .work-content .img-container .img-titles p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    bottom: 0px;
    left: 0px;
  }

/** ---------------- Contact Section ---------------- **/
.contact-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
}
.contact-section .contact-title {
  display: flex-end;
  flex: 1;
  width: 10px;
  margin-right: 10px;
  } 
.contact-section .contact-title h2{
  color: #33adff;
  font-weight: 400;
  font-size: 48px;
  text-align: right;
}  
.contact-section .contact-content {
    flex: 2;
    width: 90%;
    text-align: left;
    font-weight: 400;
    border-left: 3px solid #33adff;
    height: auto;
    padding-left: 20px;
  } 
  .contact-section .contact-content nav {
    font-size: 24px;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    align-content: center;
    width: max-content;
  }

  .contact-section .contact-content nav a{
    color: #ee438b;
    /* padding: 14px 20px; */
    /* margin-right: 100px; */
    text-decoration: none;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #78b3cc;
    text-underline-offset: 5px;
  }

/** ---------------- FOOTER SECTION ----------------- **/
footer {
    font-size: 24px;
    display: flex;
    background-color: #ee438b;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 20px 5px 20px 5px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}
footer nav {
    font-size: 24px;
    display: flex;
    background-color: #ee438b;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
  }
  footer nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #78b3cc;
    text-underline-offset: 5px;
  }
footer a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #78b3cc;
    text-underline-offset: 5px;
}

@media screen and (max-width: 1024) {

}
  
@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
  }
  /* Change the header background */
  header {
    background: #fff;
  }
  /* Change the navbar and footer background */
  nav,
  footer {
    background-color: #fff;
  }
}

@media screen and (max-width: 425px) {
  
}

@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 320px) {
  
}